/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&subset=cyrillic");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* CONNECT GOOGLE FONTS */
@font-face {
  font-family: OpenSansCondensedLight;
  src: url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.eot");
  src: url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.eot") format("embedded-opentype"), url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.woff2") format("woff2"), url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.woff") format("woff"), url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.ttf") format("truetype"), url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.svg#TTDrugsThin") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: OpenSansCondensedLight;
    src: url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.svg#OpenSansCondensedLight") format("svg"); } }

html {
  /* height hack */
  min-height: 100%;
  height: 100%; }

body {
  /* height hack */
  min-height: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* VERTICAL RYTHM */
  /* SMOOTH FONT */
  -webkit-font-smoothing: subpixel-antialiased; }

body * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body.onload {
  overflow: hidden; }

button, select {
  -webkit-appearance: none; }

a {
  text-decoration: underline; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

html, body {
  min-width: 980px; }

.app {
  color: #767676;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto; }

.wr-header, .menu ul, .slider ul, .content, .wr-footer {
  width: 980px;
  padding: 0 10px;
  margin: 0 auto; }

a {
  color: #ffffff;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

.rasporka {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.header {
  color: #696969;
  padding: 50px 0;
  background-color: #dcdcdc; }
  .header .wr-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .header .wr-header .brand {
      -webkit-flex-basis: 32%;
      -ms-flex-preferred-size: 32%;
      flex-basis: 32%; }
      .header .wr-header .brand img.logo {
        float: left;
        margin-right: 15px; }
      .header .wr-header .brand p.title {
        font-size: 34px;
        line-height: 27px;
        margin-bottom: 15px;
        margin-top: 5px; }
    .header .wr-header .contacts ul li a {
      color: #696969;
      font-family: "OpenSansCondensedLight", sans-serif;
      font-size: 40px;
      font-weight: 400;
      letter-spacing: normal;
      line-height: 46px;
      text-decoration: none; }
      .header .wr-header .contacts ul li a:hover {
        text-decoration: underline; }

.menu {
  font-size: 30px;
  padding: 25px 0;
  background-color: #696969; }
  .menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .menu ul li {
      padding: 0 20px; }
      .menu ul li a {
        color: #ffffff;
        text-decoration: none; }
        .menu ul li a:hover {
          text-decoration: underline; }
    .menu ul li + li {
      border-left: 2px solid #ffffff; }

.slider {
  width: 100%;
  height: 400px;
  background-image: url("../img/slider.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0 190px; }
  .content .news {
    color: #ffffff;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 36%;
    padding: 10px 35px;
    margin-right: 30px;
    background-color: #696969; }
    .content .news h2.title {
      font-size: 40px;
      line-height: 46px;
      font-weight: 600;
      margin-bottom: 25px; }
    .content .news ul {
      margin-bottom: 30px; }
      .content .news ul li {
        margin-bottom: 20px; }
        .content .news ul li p.time {
          font-style: italic; }
        .content .news ul li a.title {
          text-decoration: none; }
          .content .news ul li a.title:hover {
            text-decoration: underline; }
    .content .news a.more_news {
      float: right; }
  .content .about_us {
    -webkit-box-flex: 1.8;
    -webkit-flex: 1.8;
    -ms-flex: 1.8;
    flex: 1.8;
    padding: 10px 20px; }
    .content .about_us h1 {
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 25px; }
    .content .about_us p {
      margin-bottom: 20px; }

.footer {
  color: #ffffff;
  letter-spacing: 0.25px;
  padding: 50px 0;
  background-color: #696969; }
  .footer .wr-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .footer .wr-footer .footer_block {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .footer .wr-footer .footer_block a.email {
        text-decoration: none; }
        .footer .wr-footer .footer_block a.email:hover {
          text-decoration: underline; }
      .footer .wr-footer .footer_block img {
        float: left;
        margin-right: 10px; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; } }
